.containerBox {
  height: 900px;
  padding-top: 25px;
  padding-left: 15px;
  padding-right: 15px;
}

.fullScreenBox {
  position: relative;
  min-height: 100% !important;
  min-width: 100% !important;
  height: auto;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
